body {
    margin: 0;
    /* scroll-snap-type: y mandatory; */
    overscroll-behavior-y: none;
    position: fixed;
    overflow: hidden;
}

@font-face {
    font-family: 'AllegrettoScriptTwo';
    src: url(./assets/font/allegrettoscripttwo.ttf);
}

@font-face {
    font-family: 'CastoroTitling';
    src: url(./assets/font/CastoroTitling.ttf);
}

@font-face {
    font-family: 'KudryashevDisplay';
    src: url(./assets/font/KudryashevDisplay.ttf);
}

@font-face {
    font-family: 'KudryashevHeadline';
    src: url(./assets/font/KudryashevHeadline.ttf);
}

@font-face {
    font-family: 'Baskerville_Regular';
    src: url(./assets/font/Baskerville_Regular.ttf);
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
